<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header">Employee Form</div>
        <div class="card-body">
          <form #EmployeeForm="ngForm" (ngSubmit)="EmployeeForm.form.valid && save(EmployeeForm.value)" novalidate>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" name="FirstName" ngModel #FirstName="ngModel"
                [ngClass]="{'is-invalid':EmployeeForm.submitted && FirstName.invalid}" required>
              <div *ngIf="EmployeeForm.submitted &&FirstName.invalid" required class="invalid-feedback">
                <div *ngIf="FirstName.errors?.required">First nameis required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" name="LastName" ngModel #LastName="ngModel"
                [ngClass]="{'is-invalid':EmployeeForm.submitted && LastName.invalid}" maxlength="5" minlength="3"
                required>
              <div *ngIf="EmployeeForm.submitted && LastName.invalid" class="invalid-feedback">
                <div *ngIf="LastName.errors?.required"> lastname is invalid</div>
                <div *ngIf="LastName.errors?.maxlength">last name must be atlaste 5 characters</div>
                <div *ngIf="LastName.errors?.minlength">last name must max 3 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="Email" ngModel #Email="ngModel"
                [ngClass]="{'is-invalid': EmployeeForm.submitted && Email.invalid}" required email>
              <div *ngIf="EmployeeForm.submitted && Email.invalid" Class="invalid-feedback">
                <div *ngIf="Email.errors?.required">required email </div>
                <div *ngIf="Email.errors?.email">invalid email </div>
              </div>
            </div>
            <div class="form-group">
              <label> Mobile </label>
              <input type="text" class="form-control" name="Mobile" ngModel #Mobile="ngModel"
                [ngClass]="{'is-invalid':EmployeeForm.submitted && Mobile.invalid}" pattern="09\d{9}">
              <div *ngIf="EmployeeForm.submitted && Mobile.invalid" class="invalid-feedback">
                <div *ngIf="Mobile.errors?.pattern">invalid number</div>
              </div>
            </div>

            <div class="form-group">
              <label>Grade</label>
              <select class="form-control" name="GradeId" ngModel #GradId="ngModel"
                [ngClass]="{'is-invalid':EmployeeForm.submitted && GradId.invalid}" required>
                <option>Select Item</option>
                <option *ngFor="let item of grade" [value]="item.Id">
                  {{item.title}}
                </option>
              </select>
              <div *ngIf="EmployeeForm.submitted && GradId.invalid" class="invalid-feedback">
                <div *ngIf="GradId.errors?.required">invalide grade</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="card ">
        <div class="card-header">Show Info</div>
        <div class="card-body">
          <div class="form-group">
            <label>First Name:</label>
            <label>{{employee.FirstName}}</label>
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <label>{{employee.LastName}}</label>
          </div>
          <div class="form-group">
            <label>Email:</label>
            <label>{{employee.Email}}</label>
          </div>
          <div class="form-group">
            <label>Mobile:</label>
            <label>{{employee.Mobile}}</label>
          </div>
          <div class="form-group">
            <label>Grade:</label>
            <label>{{employee.gradeTitle}}</label>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>



<br>
<h1>Reactive Forms</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header">Reactive Forms</div>
        <div class="card-body">
          <form [formGroup]="Coustomer" (submit)="savea()">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" name="FirstName" formControlName="FirstName">
              <div *ngIf="Coustomer.get('FirstName')?.invalid && Coustomer.get('FirstName')?.touched   ">
                <span *ngIf="Coustomer.get('FirstName')?.errors?.required"> invalid name </span>
              </div>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" name="LastName" formControlName="LastName">
              <div *ngIf="Coustomer.get('LastName')?.invalid &&Coustomer.get('LastName')?.touched  ">
                <span *ngIf="Coustomer.get('LastName')?.errors?.required"> invalid name </span>
                <span *ngIf="Coustomer.get('LastName')?.errors?.maxlength"> max name </span>
                <span *ngIf="Coustomer.get('LastName')?.errors?.minlength"> min name </span>
              </div>
            </div>

            <div class="form-group">
              <label> Coustomer Code </label>
              <input type="text" class="form-control" name="CoustomerCode" formControlName="CoustomerCode">
              <div *ngIf="Coustomer.get('CoustomerCode')?.touched&& Coustomer.get('CoustomerCode')?.invalid">
                <span *ngIf="Coustomer.get('CoustomerCode')?.errors?.required"> invalid name </span>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="Email" formControlName="Email">
              <div *ngIf="Coustomer.get('Email')?.touched &&Coustomer.get('Email')?.invalid ">
                <span *ngIf="Coustomer.get('Email')?.errors?.required"> invalid name </span>
              </div>
            </div>

            <fieldset>
              <legend>Acount Info Form</legend>
              <div formGroupName="AccountInfoForm">
                <div class="form-group">
                  <label>AcountNumber</label>
                  <input type="text" class="form-control" name="Email" formControlName="AcountNumber">
                  <div
                    *ngIf="AccountInfoForm?.get('AcountNumber')?.touched &&AccountInfoForm?.get('AcountNumber')?.invalid ">
                    <span *ngIf="AccountInfoForm?.get('AcountNumber')?.errors?.required"> invalid name </span>
                  </div>
                </div>

                <div class="form-group">
                  <label>AcountTitle</label>
                  <input type="text" class="form-control" name="AcountTitle" formControlName="AcountTitle">
                  <div
                    *ngIf="AccountInfoForm?.get('AcountTitle')?.touched&&AccountInfoForm?.get('AcountTitle')?.invalid ">
                    <span *ngIf="AccountInfoForm?.get('AcountTitle')?.errors?.required"> invalid name </span>
                  </div>
                </div>


                <div class="form-group">
                  <label>Sheba</label>
                  <input type="text" class="form-control" name="Sheba" formControlName="Sheba">
                  <div *ngIf="AccountInfoForm?.get('Sheba')?.touched &&AccountInfoForm?.get('Sheba')?.invalid ">
                    <span *ngIf="AccountInfoForm?.get('Sheba')?.errors?.required"> invalid name </span>
                  </div>
                </div>


              </div>
            </fieldset>

            <fieldset>
              <legend>Address List </legend>
              <div formArrayName="AddressList">
                <div *ngFor="let item of addressArray.controls; let i=index">
                  <div FormGrouplName=i>
                    <div class="form-group">
                      <label>type:</label>
                      <select class="form-control" FormControlName="type">
                        <option>Select type</option>
                        <option>Home</option>
                        <option>Work</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Address:</label>
                      <textarea class="form-control" FormControlName="address"></textarea>
                    </div>
                    <br>
                    <button class="form-control btn btn-primary" (click)="RemoveAddress($event,i)">Remove</button>
                  </div>
                </div>
              </div>
              <br>
              <button class="form-control btn btn-primary" (click)="addNewAddress($event)">AddNewAddress</button>
            </fieldset>


            <br>
            <button type="submit"   class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
    <Form FormGroup="Coustomer" Submit="onsubmit()" class="form-group">
      <div class="form-control"  *ngFor="let item of Formtemplate">
        <label >{{ item.label}}</label>
        <div [ngSwitch]="item.type" >
          <div *ngSwitchCase="'textBox'" >
            <input type="text" class="form-control" formControlName="{{item.label}}"/>
          </div>
          <div *ngSwitchCase="'number'" >
            <input type="number" class="form-control"  formControlName="{{item.label}}"/>
          </div>
          <div *ngSwitchCase="'select'" >
            <select class="form-control"  formControlName="{{item.label}}">
              <option *ngFor="let itemOpt of item.option">
                {{itemOpt}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <input type="submit" value="save">
    </Form>