

<!-- <div class="flex-countainer">
<div class="products-box">
<p>{{item.title}}</p> 
<a class="box-link" [routerLink]="['/products',item.id]" routerLinkActive="router-link-active" >view info</a>
<a class="box-link" [routerLink]="['/products/info']"[queryParams]="{id:item.id,title:item.title}" routerLinkActive="router-link-active" >view info with query params</a>
<button class="box-link" (click)="gotoProducts(item)"> query params ts</button>
</div>
</div> -->

<button (click)="onclick()">output </button>
<div class="crop" [style.width.px]="width">
    <div class="star">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    </div>
</div>

