


.main-counter{
background-color:rgba(18, 167, 194, 0.925);
    
}
.main-counter li{
    display: inline;
    margin-left:10px ;
}
 .main-counter li a {
     display:inline-block;
     text-decoration: none;
     color: white;
 }
 .main-counter li a:hover{
    background-color:rgba(33, 189, 163, 0.925);
    
 }
 .router-link-active{
    background-color:rgba(28, 179, 166, 0.801);

 }
 
