<div class="flex">
    <div class="form-group">
        <label> FIRST NAME :
            <input  #name  class="form-control"  (keyup)="onkeyup($event)" type="text">
        </label>

        <div class="borderbox">
            <p >{{text}}</p>
        </div>

    </div>

</div>

<hr>

<app-coustomer-address  #textBox></app-coustomer-address>
<app-coustomer-address  ></app-coustomer-address>
<app-coustomer-address  ></app-coustomer-address>
<app-coustomer-address  ></app-coustomer-address>


<br>
<div class="form-group">
<button (click)="transfer($event)" class="form-control">Transfer</button>
</div>


<div class="text" >
    <p [style.font-size.rem]="textStyles ?3:8">Atribute binding Test</p>
</div>
<div>
    <p [class]="textStyles ? 'small-font-size':'big-font-size'">Test </p>
</div>

<div>
    <p [class]="classes">Test Class</p>
</div>