.style{
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border-bottom: 2px  #ccc solid;
    margin: 5px 5px 50px 5px;
    text-decoration: none;
    color: #000;
    

}
.style:hover{
    color: #009393;
    border-color: #009393;
}

.router-link-active{
    background: rgba(0, 224, 198, 0.2);
    border-radius: 3.5px;
}